<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi <%= @user.firstname %> <%= @user.lastname %> !
    <p>
		A new company named "<%= @company.name %>" has been created by <%= @company_admin.firstname %> <%= @company_admin.lastname %>.
    </p>
  </body>
</html>