<h3>Deliveries</h3>
<% if @project.output_files.size != 0 %>
  <table>
    <thead>
      <tr>
        <th><center>Name</center></th>
        <th><center>File</center></th>
        <th><center>Actions</center></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @project.output_files.each do |output_file| %>
        <tr>
          <% if output_file.name != nil && output_file.name != "" %>
            <td><center><%= output_file.name %></center></td>
          <% else %>
            <td><center>N/A</center></td>
          <% end %>
          <td><center><%= link_to File.basename(output_file.file_path.url.to_s), "/storage/output_files/#{output_file.id}/#{File.basename(output_file.file_path.url.to_s)}" %></center></td>
          <td><center><%= link_to "Download", "/storage/output_files/#{output_file.id}/#{File.basename(output_file.file_path.url.to_s)}" %></center></td>
          <% if current_user.admin? || (current_user.manager? && current_user.id == @project.project_manager_id) %>
            <td><center><%= link_to "Destroy", destroy_output_file_path(@project.id, output_file.id), method: :delete, data: { confirm: "Are you sure ?" } %></center></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<p>No delivery submitted.</p>
<% end %>

<% if current_user.admin? || (current_user.manager? && current_user.id == @project.project_manager_id) %>
  <%= link_to "Add Delivery", new_project_output_file_path(@project) %>
<% end %>